.button {
  /*background-color: #4CAF50;*/
  /*color: white;*/
  /*min-width: 25%;*/
  font-size:calc(10px + 1.1vw); 
  min-height: 5%;
  touch-action: manipulation;
}

.rateIndicator {
    height: 25px;
    width: 25px;
    background-color: darkturquoise;
    border-radius: 50%;
    display: inline-block;
}

body {
    
    font-size:calc(16px);
    
}
