#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

.button {
  background-color: #4CAF50;
  color: white;
  width: 90px;
  height: 60px;
}
